<!-- Collection -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>{{ node.field_title }}</h1>

      <div id="introduction">{{ node.field_introduction }}</div>

      {{ node.field_body }}

      <h2>{{ node.field_group_title }}</h2>

      {{ node.field_group_introduction }}

      {{ node.field_associated_content }}

    </div>
    <div class="col-xs-12 col-sm-4">

      <h2>Contact information</h2>

      {{ node.field_contact_information }}

      <h2>Related content</h2>

      {{ node.field_related_content }}

      <h2>Related documents</h2>

      {{ node.field_related_documents }}

    </div>
  </div>
</div>
