{{ Program/Person }}

{{ Department }}

<!-- Phone -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-phone" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Phone</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Toll free -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-phone" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Toll free</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- TTY -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-tty" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>TTY</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Fax -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-fax" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Fax</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Secure fax -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-fax" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Secure fax</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Email -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Email</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Accessibility email -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-universal-access" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Accessibility inquiry</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Mailing address -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-envelope" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Mailing address</h4>
		<p>{{ instructions }}</p>
	</div>
</div>


<!-- Street address -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-location" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Street address</h4>
		<p>{{ instructions }}</p>
	</div>
</div>

<!-- Hours -->
<div class="row">
	<div class="col-xs-2 col-sm-1">
		<p class="big-icon"><i class="fa fa-time-o" aria-hidden="true"></i></p>
	</div>
	<div class="col-xs-10 col-sm-11">
		<h4>Hours</h4>
		<p>
    Monday: {{ monday }}<br>
    Tuesday: {{ monday }}<br>
    Wednesday: {{ monday }}<br>
    Thursday: {{ monday }}<br>
    Friday: {{ monday }}<br>
    Saturday: {{ monday }}<br>
    Sunday: {{ monday }}
    </p>
	</div>
</div>
