<!-- Department Profile -->

<div class="container">
	<div class="row">
		<section class="col-xs-12 col-sm-8">
			<div id="introduction">{{ node.field_introduction }}</div>
			<a href="about" class="about-link">Responsibilities and more about us<i class="fa fa-arrow-right"></i></a>
		</section>
		<section class="col-xs-12 col-sm-4">
			<h2>Most requested</h2>
			{{ field_most_requested_item }}
		</section>
	</div>

	<div class="row">
		<!-- Render news listing -->
	</div>

	<div class="row">
		<section class="col-xs-12 col-sm-8">
			<h2>Our announcements</h2>

      <!-- Render news listing -->

      <!-- If no partners, show nothing -->
      <h2>Our partners</h2>

      {{ node.field_related_information }}

		</section>
		<section class="col-xs-12 col-sm-4">
			<h3>Our ministers</h3>

      <!-- Use field template to loop out Name (linked to full bio) and Job Title -->
			{{ field_minister_and_deputies }}

			<h3>Corporate information</h3>

			<ul class="corp-info">
				<li><a href="about">About us</a></li>
        <li><a href="services">Services A-Z</a></li>
        <li><a href="corporate-reports">Corporate reports</a></li>
        <li><a href="locations">Locations</a></li>
        <li><a href="legislation">Legislation</a></li>
      </ul>

      <h3>Follow us</h3>

      {{ node.field_social_media_account }}

			<h3>Contact us</h3>

      {{ node.field_contact_information }}

		</section>
	</div>
</div>
