	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2">
			<label>Document type:</label>
		</div>
		<div class="col-xs-6 col-sm-9 col-md-10">
			<span class="document-type">{{ content.field_document_category }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2">
			<label>Author:</label>
		</div>
		<div class="col-xs-6 col-sm-9 col-md-10">
			{{ content.field_document_author }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2">
			<label>First published:</label>
		</div>
		<div class="col-xs-6 col-sm-9 col-md-10">
			{{ content.field_date_originally_published }}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			{{ content.field_official_document_name }}
			{{ content.field_document }} <!-- Link to document -->
			{{ content.field_body }}
		</div>
	</div>
	<div class="row">
		<div class="document-link-container">
				<div class="document-thumbnail-container">
					[DOCUMENT THUMBNAIL]
				</div>
				<strong class="document-title">
					<h2>{{ content.field_friendly_document_name }}
					<i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ content.field_document }}
				<!--
				Conditional statement checking file type, then show appropriate icon:
				<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
				<i class="fa fa-file-word-o" aria-hidden="true"></i>
				<i class="fa fa-file-excel-o" aria-hidden="true"></i>
				-->
				<div class="document-size">
					<span class="document-pages">{{ content.field_number_of_pages }}</span>,
				<!-- What about file size?  Will we automate this? -->
				</div>
				<p class="accessibility-email">
					This document may not be fully accessible to users of assistive technology.
					<a href="{{ content.field_accessibility_ref }}">Request a different format.</a>
				</p>
			</div>
		</div>
