<!-- Biography -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>{{ content.field_title }}</h1>
      <div class="profile-details">
        <div id="job-title">{{ content.field_job_title }}</a>
        <div id="department">{{ content.field_lead_department }}</div>
      </div>

      <div id="introduction">{{ content.field_summary }}</div>

      <h2>Biography</h2>

      {{ content.field_body }}

      <h2>Previous roles</h2>

      {{ content.field_previous_roles }}

      <h2>Responsibilities</h2>

      {{ content.field_responsibilities }}

      <h2>Responsibilities</h2>

      {{ content.field_role }}

      <h2>Previous roles</h2>

      {{ content.field_previous_roles }}

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>
