<!-- Complaints procedure -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>{{ content.field_title }}</h1>

      <div id="introduction">{{ content.field_introduction }}</div>

      {{ content.field_body }}

      <h2>Types of complaints we can help with</h2>

      {{ content.field_types_of_complaints }}

      <h2>How to complain</h2>

      {{ content.field_how_to_complain }}

      <h2>What happens next</h2>

      {{ content.field_what_happens_next }}

      <h2>Service standards</h2>

      {{ content.field_service_standards }}

    </div>
    <div class="col-xs-12 col-sm-4">

      {{ content.field_call_to_action }}

      <h2>Contact information</h2>

      {{ content.field_contact_information }}

      <h2>Related content</h2>

      {{ content.field_related_content }}

      <h2>Related documents</h2>

      {{ content.field_related_documents }}

    </div>
  </div>
</div>
